@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap");

body {
  font-family: "Urbanist", sans-serif;
}
.post__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #eaeaea;
  margin: 50px 500px;
  padding: 20px;
  border-radius: 15px;
}
.post__header {
  display: flex;  
}
.image__container {
  width: 100px;
}

.post__username {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 1rem;
}

.post__date {
  font-size: 0.8rem;
  color: #999;
  margin-left: 1rem;
}

.post__title {
  font-size: 1.5rem;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;

}

.post__body {

  margin-top: 1rem;
}

.user__image {
  height: 50px;
  border-radius: 50%;
  
}

.user__info {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.post__button {
    margin-top: 1rem;
    border: none;
    background-color: #eaeaea;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}

.comments__container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.comment__item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.comment__user__image {
    height: 30px;
    border-radius: 50%;
}

