@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap");

body {
  font-family: "Urbanist", sans-serif;
  margin: 0;
  overflow-y: scroll;
}
.nav {
  background-color: #000000;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
}

.nav__button {
  background-color: #000000;
  font-family: "Urbanist", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: 0;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__button:hover {
  color: rgb(138, 235, 156);
}

.nav__button:focus {
  color: rgb(43, 164, 65);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #eaeaea;
  padding: 0.5rem;
  border-radius: 15px;
  width: 600px;
  margin: 10px 0;
}

.post__header {
  display: flex;
}
.image__container {
  width: 100px;
}

.post__username {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 1rem;
}

.post__date {
  font-size: 0.8rem;
  color: #999;
  margin-left: 1rem;
}

.post__title {
  font-size: 1rem;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
}

.post__body {
  margin-top: 1rem;
}

.user__image {
  height: 50px;
  border-radius: 50%;
}

.user__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.comment__button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: none;
  background-color: #eaeaea;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}

.comments__container {
  margin-left: 3rem;
  display: none;
  flex-direction: column;
  font-size: 0.8rem;
}

.comment__item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

.comment__user__image {
  height: 30px;
  border-radius: 50%;
}

.comment__username {
  font-weight: 600;
  margin-left: 0.5rem;
}

.comment__body {
  margin-left: 1rem;
  text-align: left;
}

/* add media queries at 500 px */
@media (max-width: 720px) {
  .post__container {
    font-size: 0.6rem;
    width: auto;
    margin: 10px 10px;
  }

  #root {
    align-items: center;
  }

  .post__title {
    font-size: 1rem;
  }

  .post__username {
    font-size: 0.8rem;
  }

  .post__date {
    font-size: 0.6rem;
  }
}

.user__container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 1rem;
}
